.ticket {
  width: 150px;
  height: 420px;
  position: absolute;
  transform-origin: 25% 90%;
  top: 100px;
  left: 42%;
  transition: all 0.5s linear;
  border-radius: 5px;
  box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.2),
    12px 12px 20px rgba(0, 0, 0, 0.6), inset 2px 2px 0 rgba(255, 255, 255, 0.1);
  cursor: pointer;
  text-align: center;
  font-size: 3.5em;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Verdana;
}
.swatchH4 {
  font-size: 15px;
  padding: 10px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(225, 225, 225, 0.1);
  font-weight: bold;
}
.swatchH3 {
  font-family: Goldman;
  font-size: 4rem;
  margin: 0 auto;
  font-weight: bold;
}
.swatchH6 {
  font-size: 10px;
  font-weight: bold;
}
.swatchH2 {
  font-size: 35px;
  transform: rotate(-90deg);
  width: 300px;
  position: relative;
  top: 170px;
  right: 40px;
  font-weight: bold;
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: linear-gradient(135deg, #dddddd 0%, #58535e 48%, #889396 100%);
  position: relative;
  top: 235px;
  left: 0px;
}
#ticket12 {
  background-color: #000;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/update-image.appspot.com/o/imp%2Fdark_leather.jpg?alt=media&token=4b9dcd4a-5ccc-40d0-8b01-3683722cb985");
}

@media only screen and (max-width: 600px) {
  .ticket {
    width: 65px;
    height: 182px;
    font-size: 2em;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .swatchH4 {
    font-size: 8px;
    padding: 5px;
  }
  .swatchH3 {
    font-size: 2rem;
  }
  .swatchH6 {
    font-size: 5px;
  }
  .swatchH2 {
    font-size: 16px;
    top: 62px;
    right: 100px;
  }
  .circle {
    width: 10px;
    height: 10px;
    top: 93px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .ticket {
    width: 90px;
    height: 260px;
    font-size: 2em;
    padding-top: 13px;
    padding-left: 7px;
    padding-right: 7px;
  }
  .swatchH4 {
    font-size: 10px;
    padding: 6.55px;
  }

  .swatchH3 {
    font-size: 3rem;
  }

  .swatchH6 {
    font-size: 7px;
  }

  .swatchH2 {
    font-size: 19px;
    top: 105px;
    right: 82px;
  }
  .circle {
    width: 13px;
    height: 13px;
    top: 142px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .ticket {
    width: 120px;
    height: 340px;
    font-size: 2.5em;
    padding-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .swatchH4 {
    font-size: 13px;
    padding: 8px;
  }

  .swatchH3 {
    font-size: 3.5rem;
  }

  .swatchH6 {
    font-size: 7px;
  }

  .swatchH2 {
    font-size: 28px;
    top: 150px;
    right: 58px;
  }
  .circle {
    width: 17px;
    height: 17px;
    top: 200px;
  }
}
