/* .cubesrnav {
  margin-top: 150px;
}
@media screen and (min-width: 400px) {
  .cubesrnav {
  }
}

@media screen and (min-width: 800px) {
  .cubesrnav {
    margin: 0;
  }
} */
.hearteditarea {
  margin-right: 30px !important;
  margin-left: 30px !important;
  background-color: #f7f7f7;
}
