.grid-card {
  position: relative;
}
.grid-card::after {
  content: "";
  background: linear-gradient(to right, #a38fa3, #96e694);
  width: 100%;
  height: 60%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(0) perspective(100px);
  transition: 0.4s;
  backface-visibility: hidden;
}
.grid-img {
  /* height: 100px; */
  object-fit: cover;
  overflow: hidden;
  object-position: center;
  transform: rotateY(180deg) perspective(100px);
  transition: 0.4s;
  backface-visibility: hidden;
}
.grid-card-show::after {
  transform: rotateY(180deg) perspective(100px);
}
.grid-card-show .grid-img {
  transform: rotateY(0) perspective(100px);
}
.grid-card-finished {
  opacity: 0.5;
}
