.HeaderBtn {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin-top: 5px;
  border-radius: 5px;
  margin-right: 5px;
}

.HeaderBtn__icon {
  color: #ffffff;
  font-size: large !important;
}

.HeaderBtn__title {
  flex: 1;
  margin-left: 5px;
  font-weight: 700;
  font-size: 12px;
  color: white !important;
  text-decoration: none !important;
}

.HeaderBtn:hover {
  background-color: #5a5d68;
  cursor: pointer;
}

.HeaderBtn.selected {
  background-color: #3b414f;
}
