/* body {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
} */

.honeycomb ul {
  width: 70vmin;
  height: 70vmin;
  position: relative;
  list-style-type: none;
}

.honeycomb li {
  /*
      |a|d|a|
      -------  -           
      |/   \|  | 0.5h
      |\   /|  ^          
      ------- 
      |  w  |
    
      a = 0.5h/tan60 = 0.28867513459h
      d = 0.5h/sin60 = 0.57735026919h
      w = a + d + a  = 1.15470053838h
    
      [zoom out]
    
          |a|_d_|         _____    _
          /|     \       /     \   |
    ang=60_|      \__d__/       \  | h     
         \        /     \       /  |
          \_____|/|      \_____/  _|
                a     
         |--------|
             w
    */
  --h: calc(100% / 3);
  --w: calc(1.15470053838 * var(--h));
  --a: calc(0.28867513459 * var(--h));
  --d: calc(0.57735026919 * var(--h));
  height: var(--h);
  width: var(--w);
  position: absolute;
}

.honeycomb img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  /* 
    
     [clip-path coordinates]
    
      --A-F--
     B|/   \|E    coord.
      |\   /|       A(a/w, 0)
      --C-D--       B(0, 50%)
                    C(a/w, 100%)
                    D(100% - a/w, 100%)
                    E(100%, 50%)
                    F(100% - a/w, 0)
                  where a/w = 0.24999999999
    */
  --aw: 24.99999999999%;
  -webkit-clip-path: polygon(
    var(--aw) 0,
    0 50%,
    var(--aw) 100%,
    calc(100% - var(--aw)) 100%,
    100% 50%,
    calc(100% - var(--aw)) 0
  );
  clip-path: polygon(
    var(--aw) 0,
    0 50%,
    var(--aw) 100%,
    calc(100% - var(--aw)) 100%,
    100% 50%,
    calc(100% - var(--aw)) 0
  );
}

.honeycomb li:nth-of-type(1) {
  left: calc(50% - var(--a) - var(--d) * 0.5);
  top: 0;
}
.honeycomb li:nth-of-type(2) {
  left: calc(50% - var(--a) * 2 - var(--d) * 1.5);
  top: calc(var(--h) * 0.5);
}
.honeycomb li:nth-of-type(3) {
  left: calc(50% - var(--a) * 2 - var(--d) * 1.5);
  top: calc(var(--h) * 1.5);
}
.honeycomb li:nth-of-type(4) {
  left: calc(50% - var(--a) - var(--d) * 0.5);
  top: calc(var(--h) * 2);
}
.honeycomb li:nth-of-type(5) {
  left: calc(50% + var(--d) * 0.5);
  top: calc(var(--h) * 0.5);
}
.honeycomb li:nth-of-type(6) {
  left: calc(50% + var(--d) * 0.5);
  top: calc(var(--h) * 1.5);
}
.honeycomb ul {
  -webkit-filter: drop-shadow(0 0 10px hsla(0, 0%, 0%, 0.3));
  filter: drop-shadow(0 0 10px hsla(0, 0%, 0%, 0.3));
}

.honeycomb li:hover {
  -webkit-filter: drop-shadow(0 0 10px powderblue);
  filter: drop-shadow(0 0 10px powderblue);
  z-index: 10;
}
.honeycomb ul {
  -webkit-animation: r 20s forwards;
  animation: r 20s forwards;
}
@-webkit-keyframes r {
  from {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes r {
  from {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

.honeycomb li {
  -webkit-animation: ir 20s forwards;
  animation: ir 20s forwards;
}
@-webkit-keyframes ir {
  from {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes ir {
  from {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
