.splitwallimage section {
  width: 80%;
  margin: 0 auto;
  line-height: 0;
  position: relative;
}

.splitwallimage section img {
  width: 100%;
}

.splitwallimage section article {
  position: absolute;
  top: 0;
  width: 100%;
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  mix-blend-mode: lighten;
}

.splitwallimage section div {
  background: black;
  height: 25.3vw;
}

.splitwallimage section div:nth-of-type(2) {
  grid-column: 2 / 4;
}
