.Newshead {
  font-size: 12px !important;
}
@media screen and (min-width: 480px) {
  .Newshead {
    font-size: 18px !important;
  }
}

@media screen and (min-width: 800px) {
  .Newshead {
    font-size: 25px !important;
  }
}
@media screen and (min-width: 800px) {
  .Newshead {
    font-size: 24px !important;
  }
}

.Newspara {
  font-size: 8px !important;
}
@media screen and (min-width: 400px) {
  .Newspara {
    font-size: 15px !important;
  }
}

@media screen and (min-width: 800px) {
  .Newspara {
    font-size: 28px !important;
  }
}
